body{
    background: url('https://images.unsplash.com/photo-1565023998836-962ff9d5f9be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100vw; 
    
    
}
button{
    text-align: center;
    font-size: 30px;
     margin-top: 250px; 
     margin-left: 100px; 
     padding: 15px;
    transition: all 2s;
    color:grey;
    border: 3px solid grey;
    background-color: transparent;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    

    
    
}
button:hover{
    box-shadow: 0 0.5em 0.5em -0.4em lightsalmon;
    cursor: pointer;
    transform: translateY(-0.25em);
    color: lightsalmon;
    border: thick double lightsalmon;
    border-radius: 15%;

}